<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body {
    font-family: Arial;
    background: linear-gradient(white, pink);
    padding: 20px;
    text-align: center;
}

.letter-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: auto;
}
</style>
</head>

<body>

<h1>💌 My Letter for You</h1>

<div class="letter-box">

<p>
Happy Birthday, baale ❤️<br><br>

You are the most beautiful part of my life. Every moment with you feels special and magical.<br><br>

I am truly lucky to have you. I promise to always keep you happy and make you smile.<br><br>

I love you, baale.<br><br>

I really don’t know what to say, but I still want to express something on this special day.<br><br>

Maybe right now we are not able to celebrate your birthday together, but after our marriage, I will definitely celebrate it in a unique way.<br><br>

You know I’m not very expressive, but I have so much love, care, and feelings for you. Deep down, I will always love you.<br><br>

I am all yours—don’t worry about anything. I will always be there for you whenever you need me.<br><br>

Be happy always, and don’t take stress from work. Focus on your career and grow every day.<br><br>

Even I am trying my best. This year I will switch my company and make our future better.<br><br>

I will always love you ❤️<br><br>

— Your Dhanu
</p>

</div>

</body>
</html>